<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" http-equiv="refresh"content="2;url='/main_page'"> <!--Auto-jump after 2 seconds-->
    <title>Preloader</title>
    <link rel="stylesheet" href="../static/style/Preloader.css">
</head>
<body>
<div class="preloader">
    <div class="preloader-content">
        <div id="logo">
        <p><img style="width: 90%;margin-left: 5%" src="../static/img/logo3.png"/></p> <!--logo-->
            <h3>Cooking in progress..</h3> <!--Heartbeat Effect Title-->
        </div>
        <div id="cooking"> <!--Stir-fry with dynamic effects-->

            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div class="bubble"></div>
            <div id="area"> <!--pan and its handle-->
                <div id="sides">
                    <div id="pan"></div>
                    <div id="handle"></div>
                </div>
                <div id="pancake"> <!--pastry-->
                    <div id="pastry"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>